body{
 background-color: pink;
}


#divglobal{
display: flex;
padding: 0px 0px;
border-radius: 30px 11px 30px 11px;
}


#menuizq{
    background-color: rgb(52, 52, 52);
    border: solid 2px 2px;
    width: 20%;
    color: white;
    font-size: medium;
    
}
.pointer {cursor: pointer;}

#menuderecho{
    transition: margin-left .5s;
    padding: 20px;
}



#boton{
margin-left: 2.5vh;
color: white;
font-family:sans-serif;
width: 24vh;
height: 16.7vh;
font-weight: bold;
}

.banner{
margin-left: 40vh;

}
.user{
    position: absolute;right: 0%;
    display:flex;
}
/* The side navigation menu derecho */
.sidenavRight {
  width: 10%; /* 100% Full-width */
  height: 0%; /* 0 height - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10vh; /* Stay at the top */
  right: 10vh;
  background-color: rgb(41, 41, 41); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .closebtnRight {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(41, 41, 41); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-height: 450px) {
    .sidenavRight {padding-top: 15px;}
    .sidenavRight a {font-size: 18px;}
  }